.content {
	width: 100%;
	min-height: 200px;

	display: block;

}

.posts-list {
	width: 100%;
	min-height: 200px;
}

.posts-more {
	clear: both;
}

.posts-more-link {
	float: right;
	display: inline-block;
}

.mood {
	height: 200px;
}

.mood-image img {
	width: 100%;
	height: 100%;
}

.mood-content {
	margin: 5%;
	padding: 5%;
	width: 80%;
	height: 80%;
	border: 1px solid;
	border-radius: 5px;


	position: relative;
	overflow: hidden;
}

footer {
	overflow: auto;
	width: 100%;
}

.bottom-menu {
	list-style: none;
}

.bottom-menu li {
	display: inline-block;
	padding: 10px;
}

.drag-over {
	outline: 1px solid;
}
.mood-category {
	width: 128px;
	height: 128px;
	float: left;

	cursor: pointer;
}

.controls {
	clear: both;
}