<style>
.history-panels,
.history-container {
	position: relative;
	outline: 1px solid;
}
.history-left-panel {
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.5);
	width: 400px;
	height: 100%;
}
.history-right-panel {
	position: absolute;
	right: 0;
	top: 0;
	background: rgba(0,0,0,0.5);
	width: 400px;
	height: 100%;
}
</style>
<hr>
<div class="history-container">
	THIS IS HISTORY<br>
	Go to <a href="#/">main</a>
	<div class="history-panels">
		<div class="history-left-panel">
			1
		</div>
		<div class="history-right-panel">
			2
		</div>
	</div>
</div>
<hr>
