from templates: {{ qwe }}
<div class="posts-list">
	<mood mood="mood" ng-repeat="mood in moodsCollection.items"></mood>
</div>
<div class="posts-more">
	<a class="posts-more-link" ng-click="loadMore()"> ... </a>
</div>
<div class="controls">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<a class="btn-primary btn-block" ng-click="addMood()">+</a>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<a class="btn-primary btn-block" ng-click="getMood()">-</a>
		</div>
	</div>
</div>
<div>{{ (currentUser ? currentUser.username : "asd") }}</div>
