<section>
	<div class="container"><!--container-->
		<div class="grid-8 push-2"><!--g-->
			<div class="pic-list col5"><!--big-avatar-list-->
				<mood ng-repeat="mood in moodsCollection.items" class="item">
				</mood>
				<a href="" ng-click="moodsCollection.next()" class="show-more">Show more</a>
			</div><!--/big-avatar-list-->
		</div><!--/g-->
	</div><!--/container-->

	<div class="bottom-divider"></div>

	<div class="container"><!--container-->
		<div class="grid-8 push-2"><!--g-->
			<div class="two-buttons"><!--two-buttons-->
				<div class="grid-5">
					<button ng-click="getMood()">Принять настроение <i class="fa fa-chevron-right"></i></button>
				</div>
				<div class="grid-2">
					<img src="/static/src/img/half-deer.svg" />
				</div>
				<div class="grid-5">
					<button ng-click="addMood()" class="chevron-left"><i class="fa fa-chevron-right"></i> Поделиться настроением</button></div>
			</div><!--/two-buttons-->
		</div><!--/g-->
	</div><!--/container-->

</section>
