<h2>What is your mood?</h2>
<a href="" class="image {{ mood.category }}">
	<dragtarget file="mood.image">
		<img src="/static/src/img/drag_photo.svg" />
	</dragtarget>
</a>
<div class="modal-form">
	<textarea ng-model="mood.text"></textarea>
	<div class="col3" style="height: 45px;">
		<category class="category"
			model="mood.category"
			ng-repeat="(category, name) in categories"
			category="category"></category>
	</div>
	<div class="col3">
		<div class="item"><a href="" ng-click="upload()">Send</a></div>
		<div class="item"><a href="" ng-click="cancel()">Cancel</a></div>
	</div>
</div>
