<div>
	<div class="modal-header">
		<h3 class="modal-title">I'm a modal!</h3>
	</div>
	<div class="modal-body" ng-dragenter="dragenter()">
		<textarea ng-model="mood.text"></textarea>
		<dragtarget file="mood.image" style="height:128px; position:relative;"></dragtarget>
		<div class="row categories-list">
			<div ng-repeat="(category, name) in categories"
				ng-click="chooseCategory(category)"
				category="category"
				class="mood-category"
				title="{{name}}"
				></div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="upload()">Upload</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</div>
